@model Domain.JobPost.JobPost

<h1>Work placement: @Model.Title</h1>
<p>Company: @Model.Company</p>
<p>Location: @Model.Location</p>
<p>Salary: @Model.Salary</p>
<p>Description: @Model.Description</p>
