@model Domain.JobPost.JobPost
@using Domain.Constant;

<h1>Work placement: @Model.Title</h1>
<p>Company: @Model.Company</p>
<p>Location: @Model.Location</p>
<p>Salary: @Model.Salary</p>
<p>Description: @Model.Description</p>

@if (User.IsInRole(Role.ADMIN) && ViewBag.FromApprove)
{
    <form method="post" asp-action="Approve" asp-controller="JobPost" asp-route-id="@Model.Id">
        <button class="btn btn-success" type="submit">Approve</button>
    </form>
}

<button class="btn btn-danger" type="button" onclick="toggleReportForm()">Report</button>

<div id="reportForm" style="display:none;">
    <form method="post" asp-action="Report" asp-controller="ReportedJobPost" asp-route-id="@Model.Id">
        <div class="mb-3">
            <label for="reportType" class="form-label">Type of report</label>
            <select id="reportType" name="Name" class="form-control">
                @foreach (var reportName in Enum.GetValues(typeof(Domain.Enum.ReportName)))
                {
                    <option value="@reportName">@reportName</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label" placeholder="Please describe problem" >Description</label>
            <textarea id="description" name="Description" class="form-control"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Send report</button>
        <button class="btn btn-secondary" type="button" onclick="toggleReportForm()">Cancel</button>
    </form>
</div>

@section Scripts {
    <script>
        function toggleReportForm() {
            var reportForm = document.getElementById('reportForm');
            if (reportForm.style.display === 'none' || reportForm.style.display === '') {
                reportForm.style.display = 'block';
            } else {
                reportForm.style.display = 'none';
            }
        }
    </script>
}